<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"1.5rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:1.5rem;padding-bottom:3rem">
	<!-- wp:pattern {"slug":"weekly-wildcat/homepage-featured"} /-->

	<!-- wp:pattern {"slug":"weekly-wildcat/homepage-section-grid"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
